<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">Новости</a></h1>
    <nav>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Войти</a>
            </div>
        {% else %}
            <a href="{% url 'main' %}">Новости</a>
            {% if request.user.groups.first.name == 'admins' %}
                <a href="{% url 'news_add' %}">Написать новость</a>
                <a href="{% url 'tags' %}">Теги</a>
            {% endif %}
            <a href="#">Избранное</a>
            <div style="text-align:right">
                <span>Вы авторизованы как <b>{{ user.username }}</b></span>
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}
</body>
</html>