{% extends 'web/base.html' %}
{% block content %}
<h2>{{ news.title }}</h2> {{ news.post_date }}
<br><br>
<h4>Текст:</h4>
{{ news.text }}
<h4>Добавить комментарий:</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Сохранить комментарий</button>
    </form>
<h4>Комментарии:</h4>
{% for comment in comments %}
Пользователь: {{ user }}<br>
{{ comment }}
{% if admin %}
    <small><a href="{% url 'comment_delete' comment.id %}">Удалить</a></small>
{% endif %}
<br><br>
{% endfor %}
{% endblock %}